# Contracts
contracts/futarchy/build/
contracts/govex-coin/build/
contracts/test_stable/build/
contracts/test_asset/build/
contracts/futarchy/node_modules/

# Backend
backend/node_modules/
backend/.env
backend/dev.db
backend/dev.db-journal

# Frontend
frontend/node_modules/
frontend/dist/

# General
**/.env
.DS_Store
**/.DS_Store

dist/

# Working directories
working-next-js-railway/